<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- {{msg}} -->

        <!-- <div v-if="isLogin">司大大</div>
        <div v-else><a href="">请登入</a></div>

        <div v-if="str == 'A'">A</div>
        <div v-else-if="str == 'B'">B</div>
        <div v-else-if="str == 'C'">C</div>
        <div v-else>D</div>

        <div v-show = "isLogin">show</div> -->
        <ul>
            <li v-for="(student,index) in stuSort">
                <span>学生姓名：{{student.name}}</span>
                <span>学生年龄: {{student.age}}</span>
                <span>索引： {{index}}</span>
            </li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
    let vm = new Vue({
        el : '#app',
        data : {
            // msg:'hello',
            // isLogin:false,
            // str :'B'
            arr:['html','css','js','vue'],
            stuList:[{
                name:'ss',
                age:20
            },{
                name:'sd',
                age:15
            }],
            computed:{
                stuSort(){
                    return this.stuList.sort((a,b)=>{
                        return a.age - b.age;
                    });
                }
            }
        }
    });
    </script>
</body>
</html>